body {
    height: 100%;
  }
  body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-weight: 100;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(77, 73, 73);
  }
  th {
    text-align: left;
  }
  thead {
    background-color: #bcbcbe;
  }
  tbody tr:hover {
    background-color: rgba(174, 174, 174, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(174, 174, 174, 0.3);
    z-index: -1;
  }
